* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Verdana;
	box-sizing: border-box;
}

body {
	background: url(back.png);
	background-size: 100%;
}

.img {
	float: center;
	padding: 0;
	width: 13%;
	height: 13%;
	border-radius: 100%;
	margin: 2% 0 2% 41%
}

h1 {
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 30% 20px 25%;
	padding-bottom: 15px;
}

.p {
	text-align: justify;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 25px;
	padding: 15px 0;
}

.menue1 {
	display: inline-block;
	font-size: 20px;
	color: #80ABE2;
	background-color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	border-radius: 15px;
	padding: 40px 15% 40px 15%;
	margin: 0 0 3% 23.5%;
}

.menue2 {
	display: inline-block;
	font-size: 20px;
	color: #80ABE2;
	background-color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	border-radius: 15px;
	padding: 40px 13.5% 40px 13%;
	margin: 0 0 3% 23.5%;
}

.menue3 {
	display: inline-block;
	font-size: 20px;
	color: #80ABE2;
	background-color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	border-radius: 15px;
	padding: 40px 14.5% 40px 14.3%;
	margin: 0 0 3% 23.5%;
}

.menue1:hover {
	background-color: #80ABE2;
	color: #FFFFFF;
	cursor: pointer;
}
.menue2:hover {
	background-color: #80ABE2;
	color: #FFFFFF;
	cursor: pointer;
}
.menue3:hover {
	background-color: #80ABE2;
	color: #FFFFFF;
	cursor: pointer;
}





@media (max-width: 1000px){
	* {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-family: Verdana;
		box-sizing: border-box;
	}

	body {
		background: url(back.png);
	}
	
	.menue1 {
		display: inline-block;
		font-size: 40px;
		color: #80ABE2;
		background-color: #FFFFFF;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 15px;
		padding: 40px 15% 40px 15%;
		margin: 5% 0 10% 8%;
	}

	.menue2 {
		display: inline-block;
		font-size: 40px;
		color: #80ABE2;
		background-color: #FFFFFF;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 15px;
		padding: 40px 10% 40px 9%;
		margin: 0 0 10% 8%;
	}

	.menue3 {
		display: inline-block;
		font-size: 40px;
		color: #80ABE2;
		background-color: #FFFFFF;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 15px;
		padding: 40px 12% 40px 15%;
		margin: 0 0 10% 8%;
	}
	
	.menue1:hover {
		background-color: #80ABE2;
		color: #FFFFFF;
		cursor: pointer;
	}
	.menue2:hover {
		background-color: #80ABE2;
		color: #FFFFFF;
		cursor: pointer;
	}
	.menue3:hover {
		background-color: #80ABE2;
		color: #FFFFFF;
		cursor: pointer;
	}	
	
	h1 {
		font-size: 50px;
		text-align: center;
		color: #FFFFFF;
		margin: 0 30% 20px 25%;
		padding-bottom: 15px;
	}
	
	.p {
		color: #FFFFFF;
		font-size: 35px;
	}
	
	.img {
		float: center;
		padding: 0;
		width: 35%;
		height: 35%;
		border-radius: 100%;
		margin: 11% 0 13.5% 30%;
	}
	
	.article p {
		text-align: justify;
		line-height: 25px;
		font-size: 18px;
		padding: 15px 0;
}
