* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Verdana;
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
}

nav {
	background-color: #FFBE00;
}

.menue {
	display: inline-block;
	font-size: 40px;
	color: #80ABE2;
	background-color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	border-radius: 15px;
}

.menue:hover {
	background-color: #80ABE2;
	color: #FFFFFF;
	cursor: pointer;
}

a.active {
	color: #FFDE80;
}

a.menu:hover {
	background-color: #3C83D9;
	color: #FFDE80;
	cursor: pointer;
}

.mene:hover {
	background-color: #3C83D9;
	color: #FFDE80;
	cursor: pointer;
}

a.active {
	background-color: #3C83D9;
}


	padding: center;
article {
	margin-top: 0px;
	margin-bottom: 0px;

	align: center;
	
}

h1 {
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 30% 20px 25%;
	padding-bottom: 15px;
}

.p {
	color: #FFFFFF;
	font-size: 35px;
}

.img {
	float: center;
	padding: 0;
	width: 35%;
	height: 35%;
	border-radius: 100%;
}

article p {
	text-align: justify;
	line-height: 25px;
	font-size: 18px;
	padding: 15px 0;
}

iframe {
	width: 100%;
}

footer {
	height: 50px;
	background-color: #3C83D9;
	color: #FFF8E6;
	line-height: 40px;
	text-align: center;
	margin-top: 15px;
}

@media (max-width: 1000px) {
	nav a {
		width: 100%;
	}
}
